.items{
  border:2px solid darkBlue;
  margin-top:10px;
  text-align:left

}
.redtext{
  margin-left:10px;
  text-align:right;
  color:red 
}
.greentext{
  margin-left:10px;
  color:green
}
.bluetext{
  color:blue
}